@import "./include/index.scss";

html[dir="rtl"] {
    body {
        // Scale X
        .#{$class-prefix}-dir-scale-x-n1 {
            transform: scale(-1, 1);
        }

        // Code
        .hljs-container {
            direction: ltr;
            text-align: left;
        }

        /* Apex */
        .apexcharts-legend-marker {
            margin-right: 3px;
            margin-left: 0;
        }

        /* Customise */
        .#{$class-prefix}-theme-customizer {
            &-button {
                transform: translate(96%, 0%) scale(-1, 1);

                @include breakpoint(sm) {
                    transform: translate(186%, 0px) scale(-0.9, 0.9);
                }
            }
        }

        /* Dashboard Ecommerce */
        .#{$class-prefix}-ecommerce-detail-card {
            img {
                transform: scale(-1, 1);
            }
        }

        /* Authentication */
        .#{$class-prefix}-authentication-page {
            .#{$class-prefix}-other-links {
                a + a {
                    padding-right: 16px;
                    margin-right: 16px;

                    &:last-child {
                        margin-left: 0;
                        padding-left: 0;
                    }

                    &:before {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }

        /* Accordion */
        .accordion-button::after {
            transform: rotate(-180deg);
        }

        .accordion-button:not(.collapsed)::after {
            transform: rotate(-90deg);
        }

        /* Popover */
        .bs-popover-left > .popover-arrow,
        .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow {
            left: -0.5rem;
            right: auto;
        }

        .bs-popover-right > .popover-arrow,
        .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow {
            right: -0.5rem;
            left: auto;
        }

        /* Tooltip */
        .bs-tooltip-right,
        .bs-tooltip-auto[data-popper-placement^="right"] {
            .tooltip-inner {
                box-shadow: 6px 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
                    0 9px 28px 8px rgba(0, 0, 0, 0.05);
            }
        }

        .bs-tooltip-left,
        .bs-tooltip-auto[data-popper-placement^="left"] {
            .tooltip-inner {
                box-shadow: -6px 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
                    0 9px 28px 8px rgba(0, 0, 0, 0.05);
            }
        }

        .bs-tooltip-right .tooltip-arrow,
        .bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow {
            right: 0;
            left: auto;
        }

        .bs-tooltip-right .tooltip-arrow::before,
        .bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before {
            right: 2px;
        }

        .bs-tooltip-left .tooltip-arrow,
        .bs-tooltip-auto[data-popper-placement^="left"] .tooltip-arrow {
            left: 0;
            right: auto;
        }

        .bs-tooltip-left .tooltip-arrow::before,
        .bs-tooltip-auto[data-popper-placement^="left"] .tooltip-arrow::before {
            left: 2px;
        }
    }
}
